<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="/product/search" class="site-block-top-search">
                            <a href="/product/search"><span class="icon icon-search2"></span></a>
                            <input type="text" class="form-control border-0" placeholder="Tìm kiếm">
                        </form>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/" class="js-logo-clone">Phones Shop</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <nav class="site-navigation text-right text-md-center" role="navigation">
                                <ul class="site-menu js-clone-nav d-none d-md-block">
                                    <li class="has-children active">
                                        <span class="icon icon-person"></span>
                                        <ul class="dropdown">
                                            <li><a href="/login">Đăng nhập</a></li>
                                            <li><a href="/register">Đăng ký</a></li>
                                            <li><a href="/recover">Quên mật khẩu</a></li>
                                            <li><a href="/account">Thông tin tài khoản</a></li>
                                            <li><a href="/order">Đơn hàng của bạn</a></li>
                                            <li><a href="/logout">Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                    {{!-- <li><a href="#"><span class="icon icon-heart-o"></span></a></li> --}}
                                    <li>
                                        <a href="/cart" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">2</span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#"
                                                                                    class="site-menu-toggle js-menu-toggle"><span
                                            class="icon-menu"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li><a href="/product">Cửa hàng</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer class="site-footer border-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4">Khuyến mãi</h3>
                    <a href="#" class="block-6">
                        <img src="/images/banner.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Liên hệ</h3>
                        <ul class="list-unstyled">
                            <li class="address">227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP.HCM, Việt Nam</li>
                            <li class="phone">+84 976 713 746</li>
                            <li class="email">khoa400@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made
                        with
                        <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                                                            class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>

<script src="/js/main.js"></script>
</body>

</html>