<div class="bg-light py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">{{title}}</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">{{title}}</h2>
                <div class="p-3 p-lg-5 border">
                    {{message}}
                    <form method="post">
                        <div class="form-group row mb-5">
                            <div class="col-md">
                                <label for="email" class="text-black">Địa chỉ email <span
                                        class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                        <div class="form-group row mb-5">
                            <div class="col-md">
                                <label for="password" class="text-black">Mật khẩu<span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md">
                                <input class="btn btn-primary btn-lg py-3 btn-block" type="submit" value="TẠO TÀI KHOẢN">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>