<div class="bg-light py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">{{title}}</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">{{title}}</h2>
                <div class="p-3 p-lg-5 border">
                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="c_name" class="text-black">Họ và tên <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_name" name="c_name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_address" class="text-black">Địa chỉ <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_address" name="c_address"
                                placeholder="Địa chỉ và tên đường">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_ward" class="text-black">Phường <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_ward" name="c_ward">
                        </div>
                        <div class="col-md-6">
                            <label for="c_district" class="text-black">Quận <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_district" name="c_district">
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <div class="col-md-6">
                            <label for="c_email_address" class="text-black">Địa chỉ email <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                        </div>
                        <div class="col-md-6">
                            <label for="c_phone" class="text-black">Số điện thoại <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone"
                                placeholder="Điện thoại">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md">
                            <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/'">Tạo tài khoản</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>