<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Thành công</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">Thành công!</h2>
                <p class="lead mb-5">Đơn hàng của bạn đã được ghi nhận</p>
                <p><a href="/product" class="btn btn-sm btn-primary">Quay lại</a></p>
            </div>
        </div>
    </div>
</div>